In [8]:
# dependencies
import os
from tqdm import tqdm
import datetime
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pprint import pprint
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

# import APIs

from NYTAPI import nyt_api
from newsapi import news_api
from AlphaAPI import alpha_api

In [9]:
%matplotlib notebook

# Stock Data

In [10]:
nas = "NDAQ"
dow = "DJI"
sap = "SPX"

sap_base_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol="+sap+"&apikey="+alpha_api
nas_base_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol="+nas+"&apikey="+alpha_api
dow_base_url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol="+dow+"&apikey="+alpha_api

In [11]:
sap_data = requests.get(sap_base_url).json()
nas_data = requests.get(nas_base_url).json()
dow_data = requests.get(dow_base_url).json()

In [12]:
# set dates
stock_dates = []

start_date = datetime.date(2018,7,1)

for i in range(60):
    stock_date = start_date + datetime.timedelta(i)
    stock_dates.append(stock_date.isoformat())

In [16]:
sap_close_prices = []
nas_close_prices = []
dow_close_prices = []
sap_volumes = []
nas_volumes = []
dow_volumes = []
sap_dates_output = []
nas_dates_output = []
dow_dates_output = []

for stock_date in tqdm(stock_dates):
    # There are holidays and weekends
    try:
        sap_close_prices.append(sap_data["Time Series (Daily)"][stock_date]["4. close"])
        nas_close_prices.append(nas_data["Time Series (Daily)"][stock_date]["4. close"])
        dow_close_prices.append(dow_data["Time Series (Daily)"][stock_date]["4. close"])
        
        sap_volumes.append(sap_data["Time Series (Daily)"][stock_date]["5. volume"])
        nas_volumes.append(nas_data["Time Series (Daily)"][stock_date]["5. volume"])
        dow_volumes.append(dow_data["Time Series (Daily)"][stock_date]["5. volume"])
        
        if stock_date in sap_data["Time Series (Daily)"].keys():
            sap_dates_output.append(stock_date)
        if stock_date in nas_data["Time Series (Daily)"].keys():
            nas_dates_output.append(stock_date)
        if stock_date in dow_data["Time Series (Daily)"].keys():
            dow_dates_output.append(stock_date)
    except:
        pass

100%|██████████| 60/60 [00:00<00:00, 103819.41it/s]

In [25]:
sap_df = pd.DataFrame({"Date": sap_dates_output, "S&P Close Price": pd.to_numeric(sap_close_prices), "S&P Volume": pd.to_numeric(sap_volumes)})
nas_df = pd.DataFrame({"Date": nas_dates_output, "NAS Close Price": pd.to_numeric(nas_close_prices), "NAS Volume": pd.to_numeric(nas_volumes)})
dow_df = pd.DataFrame({"Date": dow_dates_output, "DOW Close Price": pd.to_numeric(dow_close_prices), "DOW Volume": pd.to_numeric(dow_volumes)})
sap_df["S&P Volume"] = sap_df["S&P Volume"].map("{:,}".format)
nas_df["NAS Volume"] = nas_df["NAS Volume"].map("{:,}".format)
dow_df["DOW Volume"] = dow_df["DOW Volume"].map("{:,}".format)

print(sap_df.dtypes)
dow_df

Date                object
S&P Close Price    float64
S&P Volume          object
dtype: object

          Date  DOW Close Price   DOW Volume
0   2018-07-02       24307.1797  244,110,000
1   2018-07-03       24174.8203  160,960,000
2   2018-07-05       24356.7402  237,670,000
3   2018-07-06       24456.4805  219,450,000
4   2018-07-09       24776.5898  240,580,000
5   2018-07-10       24919.6602  235,040,000
6   2018-07-11       24700.4492  237,370,000
7   2018-07-12       24924.8906  233,150,000
8   2018-07-13       25019.4102  255,520,000
9   2018-07-16       25064.3594  231,270,000
10  2018-07-17       25119.8906  250,450,000
11  2018-07-18       25199.2891  252,870,000
12  2018-07-19       25064.5000  285,760,000
13  2018-07-20       25058.1191  274,080,000
14  2018-07-23       25044.2891  228,820,000
15  2018-07-24       25241.9395  274,940,000
16  2018-07-25       25414.0996  273,670,000
17  2018-07-26       25527.0703  297,530,000
18  2018-07-27       25451.0605  329,680,000
19  2018-07-30       25306.8301  296,880,000
20  2018-07-31       25415.1895  348,700,000
21  2018-08-01       25333.8203  315,880,000
22  2018-08-02       25326.1602  307,700,000
23  2018-08-03       25462.5801  239,020,000
24  2018-08-06       25502.1797  238,990,000
25  2018-08-07       25628.9102  239,910,000
26  2018-08-08       25583.7500  217,770,000
27  2018-08-09       25509.2305  214,970,000
28  2018-08-10       25313.1406  234,480,000
29  2018-08-13       25187.6992  219,990,000
30  2018-08-14       25299.9199  219,210,000
31  2018-08-15       25162.4102  295,810,000
32  2018-08-16       25558.7305  342,430,000
33  2018-08-17       25669.3203  284,160,000
34  2018-08-20       25758.6895  248,570,000
35  2018-08-21       25822.2891  241,620,000
36  2018-08-22       25733.5996  200,480,000
37  2018-08-23       25656.9805  213,270,000
38  2018-08-24       25790.3496  200,330,000
39  2018-08-27       26049.6406  220,510,000
40  2018-08-28       26064.0195  211,470,000
41  2018-08-29       26124.5703  214,955,750

# New York Times

In [ ]:
print(dates_output[0])
print(dates_output[-1])

In [ ]:
begin_date = dates_output[0][:4] + dates_output[0][5:7] + dates_output[0][8:10]
end_date = dates_output[-1][:4] + dates_output[-1][5:7] + dates_output[-1][8:10]
print(begin_date, end_date)

In [ ]:
# prepare variables
# make sure we can loop through all the articles we get
n = 200
pages = list(range(n))
snippet = []
pub_date = []

# urls
nyt_base_url = "https://api.nytimes.com/svc/search/v2/articlesearch.json?"

# get data from urls
for page in tqdm(pages):
    params = {
        "api-key": nyt_api,
        "q": "Stock",
        "begin_date": begin_date,
        "end_date": end_date,
        "sort": "newest",
        "fl": ["snippet","pub_date"],
        "page": page
    }

    try: 
        nyt_data = requests.get(nyt_base_url, params=params).json()
        # loop through 10 articles on each page
        for i in range(10):
            snippet.append(nyt_data["response"]["docs"][i]["snippet"])
            interm_date = nyt_data["response"]["docs"][i]["pub_date"]
            pub_date.append(interm_date[:4]+interm_date[5:7]+interm_date[8:10])
        
    except:
        pass

# Vader Sentiment Score

In [ ]:
sentences = snippet
vader_scores = []

In [ ]:
analyzer = SentimentIntensityAnalyzer()

In [ ]:
for sentence in sentences:
    vs = analyzer.polarity_scores(sentence)
    vader_scores.append(vs['compound'])

# Establish DataFrame

In [ ]:
# convert pub_date to numeric for later data processing
news_dates = []

for d in pub_date:
    d = str(d)
    news_dates.append(d[:4] + "-" + d[4:6] + "-" + d[6:8])

news_df = pd.DataFrame({"Date": news_dates, "VaderScore": vader_scores})

In [ ]:
news_df

In [ ]:
grouped_news_df = news_df.groupby("Date")
adjusted_news_df = pd.DataFrame({
    "Date": grouped_news_df.count().index,
    "VaderScore": grouped_news_df["VaderScore"].mean()
})

In [ ]:
adjusted_news_df.dtypes

In [ ]:
sap_df.dtypes

In [ ]:
# merge stock_df and adjusted_news_df
merged_df = sap_df.merge(adjusted_news_df, on="Date")

In [ ]:
merged_df